@model ICollection<TaskViewModelAll>
@{
    ViewData["Title"] = "My tasks";
    int rowCount = 0;
}

<h4 class="text-center">@ViewData["Title"]</h4>
<div class="container-fluid">
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="bg-success">
                <th class="col-1 text-center" scope="col">Row Number</th>
                <th class="col-3 text-center" scope="col">Name</th>
                <th class="col-3 text-center" scope="col">Deadline</th>
                <th class="col-2 text-center" scope="col">Owner</th>
                <th class="col-1 text-center" scope="col">View</th>
                <th class="col-1 text-center" scope="col">Edit</th>
                <th class="col-1 text-center" scope="col">Complete</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var task in Model)
            {
                rowCount++;
                <tr>
                    <th class="text-center" scope="row">@rowCount</th>
                    <td class="text-center">@task.Name</td>
                    <td class="text-center">@task.EndDate</td>
                    <td class="text-center">@task.User</td>
                    <td class="text-center bg-info">
                        <a class="text-dark align-content-center" asp-area="" asp-controller="Task" asp-action="ViewTask" asp-route-Id="@task.Id">View</a>
                    </td>
                    <td class="text-center bg-warning">
                        <a class="text-dark align-content-center" asp-area="" asp-controller="Task" asp-action="Edit" asp-route-Id="@task.Id">Edit</a>
                    </td>
                    <td class="text-center bg-danger">
                        <form asp-area="" asp-controller="Task" asp-action="Complete" method="post">
                            <input type="hidden" name="Id" value="@task.Id" />
                            <button type="submit" class="btn btn-link text-dark align-content-center">Complete Task</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
