@model TaskViewModelDetails
@{
    ViewData["Title"] = "Task Details";
}

<style>
    .custom-table {
        border-collapse: collapse;
        width: 50%;
        margin: 0 auto;
        border: 1px solid black;
    }

        .custom-table th,
        .custom-table td {
            border: 1px solid black;
            padding: 8px;
        }
</style>

<h4 class="text-center">@ViewData["Title"]</h4>

<div class="table-responsive mt-2">
    <table class="table custom-table">
        <tbody>
            <tr>
                <th>
                    Task ID:
                </th>
                <td>
                    @Model.Id
                </td>
            </tr>

            <tr>
                <th>
                    Task Name:
                </th>
                <td>
                    @Model.Name
                </td>
            </tr>

            <tr>
                <th>
                    Task Description:
                </th>
                <td>
                    @Model.Description
                </td>
            </tr>

            <tr>
                <th>
                    Deadline:
                </th>
                <td>
                    @Model.EndDate
                </td>
            </tr>

            <tr>
                <th>
                    Created by:
                </th>
                <td>
                    @Model.User
                </td>
            </tr>
        </tbody>
    </table>
</div>
