@model ICollection<WaybillViewModelAll>
@{
    ViewData["Title"] = "All Waybills";
    string massage = "No info!";
}

<style>
    .custom-table {
        border-collapse: collapse;
    }

        .custom-table th {
            border: 1px solid black;
        }

        .custom-table td {
            border: 1px solid black;
        }
</style>

<h4 class="text-center">@ViewData["Title"] @ViewData["Text"]</h4>

<div class="table-responsive w-75 mx-auto">
    <table class="table table-striped table-hover custom-table">
        <thead>
            <tr>
                <th class="col-3">Waybill Date</th>
                <th class="col-3">Vehicle Number</th>
                <th class="col-4">Info</th>
                <th class="col-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var waybill in Model)
            {
                <tr>
                    <td class="col-3">@waybill.Date</td>
                    <td class="col-3">@waybill.VehicleNumber</td>
                    @if (string.IsNullOrEmpty(waybill.Info))
                    {
                        <td class="col-4 text-danger">@massage</td>
                    }
                    else
                    {
                        <td class="col-4">@waybill.Info</td>
                    }
                    <td class="col-2">
                        <a asp-controller="Waybill" asp-action="Details" asp-route-id="@waybill.Id" class="btn btn-primary">View</a>
                        <a asp-controller="Waybill" asp-action="Edit" asp-route-id="@waybill.Id" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>