@model DateCheckViewModelAllDto
@{
    ViewData["Title"] = "All Date checks";
    string vehicleNumber = "";
    DateTime today = DateTime.UtcNow.Date;
}

<style>
    .custom-table {
        border-collapse: collapse;
    }

        .custom-table th {
            border: 1px solid black;
        }

        .custom-table td {
            border: 1px solid black;
        }

    .btn-light-blue {
        color: #fff;
        background-color: #17a2b8;
        text-decoration: none;
    }
</style>

<div class="text-center align-content-center justify-content-center mb-2">
    <div class="text-decoration-none bg-info p-2">
        <form asp-area="" asp-controller="DateCheck" asp-action="AllMine" method="post">
            <button type="submit" class="btn btn-link text-dark">View only my checks</button>
        </form>
    </div>
</div>
<div class="text-center align-content-center justify-content-center mb-2">
    <div class="d-flex flex-column align-items-center">
        <form asp-area="" asp-controller="DateCheck" asp-action="All" method="post">
            <div class="row">
                <div class="col-md-6">
                    <select asp-for="@vehicleNumber" class="form-select w-75 mx-auto mx-md-0">
                        @foreach (var vehicle in Model.Vehicles)
                        {
                            <option value="@vehicle.Number">@vehicle.Number</option>
                        }
                    </select>
                </div>
                <div class="col-md-6 text-md-start">
                    <button type="submit" class="btn btn-link text-dark mb-2 btn-light-blue">View checks only for this vehicle</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container">

    <h4 class="text-center mb-2">@ViewData["Title"]</h4>

    <div class="text-center mt-2 mb-2">
        <h6 class="text-center text-info"> Today: @DateTime.UtcNow.Date.ToString("dd/MM/yyyy")</h6>
    </div>

    @if (Model.Checks.Count > 0)
    {
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="table-responsive">
                    <table class="table table-bordered custom-table">
                        <thead>
                            <tr class="bg-success">
                                <th class="align-content-center col-4">Name</th>
                                <th class="align-content-center col-2">Vehicle Number</th>
                                <th class="align-content-center col-2">Deadline</th>
                                <th class="align-content-center col-1">View</th>
                                <th class="align-content-center col-1">Edit</th>
                                <th class="align-content-center col-2">Complete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var check in Model.Checks)
                            {
                                <tr>
                                    <td>@check.Name</td>
                                    <td>@check.VehicleNumber</td>
                                    @{
                                        DateTime date = DateTime.MinValue;
                                        bool isPastable = DateTime.TryParse(check.EndDate, out date);
                                    }
                                    @if (isPastable)
                                    {
                                        int n = today.CompareTo(date);

                                        string bootstrapClass = string.Empty;

                                        if (n > 0)
                                        {
                                            bootstrapClass = "text-danger";
                                        }
                                        else if (n == 0)
                                        {
                                            bootstrapClass = "text-warning";
                                        }
                                        else
                                        {
                                            bootstrapClass = "text-dark";
                                        }

                                        <td class="@bootstrapClass">@check.EndDate</td>
                                    }
                                    else
                                    {
                                        <td class="text-danger">Invalid date</td>
                                    }
                                    <td class="text-center bg-info">
                                        <form asp-area="" asp-controller="DateCheck" asp-action="ViewInfo" method="get">
                                            <input type="hidden" name="id" value="@check.Id" />
                                            <button type="submit" class="btn btn-link text-dark align-content-center text-decoration-none">View</button>
                                        </form>
                                    </td>
                                    <td class="text-center bg-warning">
                                        <form asp-area="" asp-controller="DateCheck" asp-action="Edit" method="get">
                                            <input type="hidden" name="id" value="@check.Id" />
                                            <button type="submit" class="btn btn-link text-dark align-content-center text-decoration-none">Edit</button>
                                        </form>
                                    </td>
                                    <td class="text-center bg-danger">
                                        <form asp-area="" asp-controller="DateCheck" asp-action="Complete" method="post">
                                            <input type="hidden" name="id" value="@check.Id" />
                                            <button type="submit" class="btn btn-link text-dark align-content-center text-decoration-none">Complete</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <h1 class="text-center text-danger">No active date checks</h1>
    }
</div>
