@model MileageCheckViewModelDetails
@{
    ViewData["Title"] = "Mileage Check Details";
}

<style>
    .custom-table {
        border-collapse: collapse;
        width: 50%;
        margin: 0 auto;
        border: 1px solid black;
    }

        .custom-table th,
        .custom-table td {
            border: 1px solid black;
            padding: 8px;
        }
</style>

<h4 class="text-center mt-2 mb-2">@ViewData["Title"]</h4>

<div class="table-responsive">
    <table class="table custom-table">
        <tbody>
            <tr>
                <th>
                    Mileage Check ID:
                </th>
                <td>
                    @Model.Id
                </td>
            </tr>

            <tr>
                <th>
                    Mileage Check Name:
                </th>
                <td>
                    @Model.Name
                </td>
            </tr>

            <tr>
                <th>
                    Expected Mileage:
                </th>
                <td>
                    @Model.ExpectedMileage
                </td>
            </tr>

            <tr>
                <th>
                    Vehicle Number:
                </th>
                <td>
                    @Model.VehicleNumber
                </td>
            </tr>

            <tr>
                <th>
                    User:
                </th>
                <td>
                    @Model.User
                </td>
        </tbody>
    </table>
</div>