@model OwnerViewModelInfo
@{
    ViewData["Title"] = "Owner Details";
}

<style>
    .custom-table {
        border-collapse: collapse;
        width: 50%;
        margin: 0 auto;
        border: 1px solid black;
    }

        .custom-table th,
        .custom-table td {
            border: 1px solid black;
            padding: 8px;
        }
</style>

<h4 class="text-center mt-2 mb-2">@Model.Name Details</h4>

<div class="table-responsive">
    <table class="table custom-table mt-2 mb-5">
        <tbody>
            <tr>
                <th>
                    Owner ID:
                </th>
                <td>
                    @Model.Id
                </td>
            </tr>

            <tr>
                <th>
                    Owner Name:
                </th>
                <td>
                    @Model.Name
                </td>
            </tr>

            <tr>
                <th>
                    Additional Info:
                </th>
                @if (Model.Info == null)
                {
                    <td class="text-danger">
                        No info
                    </td>
                }
                else
                {
                    <td>
                        @Model.Info
                    </td>
                }
            </tr>

            <tr>
                <th>
                    Vehicles of this owner:
                </th>
                @if (Model.VehiclesCount <= 0)
                {
                    <td class="text-danger">
                        No vehicles
                    </td>
                }
                else
                {
                    <td>
                        @Model.VehiclesCount
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>

@if (Model.Vehicles.Count > 0)
{
    @foreach (var vehicle in Model.Vehicles)
    {
        <div class="row mt-4 justify-content-center align-content-center text-center">
            <div class="col-md-6">
                <h4 class="text-center">This owner vehicles</h4>
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Registration Number</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@vehicle</td>
                            <td class="text-center bg-info">
                                <form asp-area="" asp-controller="Vehicle" asp-action="ViewVehicleInfo" method="post">
                                    <input type="hidden" name="regNumber" value="@vehicle" />
                                    <button type="submit" class="btn btn-link text-dark align-content-center text-decoration-none">View</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
}
else
{
    <h5 class="text-center text-danger">No vehicles for this owner</h5>
}