@model VehicleViewModelAdd
@{
    ViewData["Title"] = "Add New Vehicle";
}
<div class="container">
    <h4 class="text-center">@ViewData["Title"]</h4>

    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form asp-action="Add" method="post">
                <div class="form-group mt-2">
                    <label asp-for="Number">Registration Number</label>
                    <input asp-for="Number" class="form-control" />
                    <span asp-validation-for="Number" class="text-danger"></span>
                </div>

                <div class="form-group mt-2">
                    <label asp-for="VIN">VIN</label>
                    <input asp-for="VIN" class="form-control" />
                    <span asp-validation-for="VIN" class="text-danger"></span>
                </div>

                <div class="form-group mt-2">
                    <label asp-for="Model">Model</label>
                    <input asp-for="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>

                <div class="form-group mt-2">
                    <label asp-for="Make">Make</label>
                    <input asp-for="Make" class="form-control" />
                    <span asp-validation-for="Make" class="text-danger"></span>
                </div>

                <div class="form-group mt-2">
                    <label asp-for="Mileage">Mileage</label>
                    <input asp-for="Mileage" class="form-control" min="0" value="0" step="1"/>
                    <span asp-validation-for="Mileage" class="text-danger"></span>
                </div>

                <div class="form-group mt-2">
                    <label asp-for="FuelQuantity">Fuel Quantity</label>
                    <input asp-for="FuelQuantity" type="number" class="form-control" min="0" value="0" step="0.001" />
                    <span asp-validation-for="FuelQuantity" class="text-danger"></span>
                </div>

                <div class="form-group mt-2">
                    <label asp-for="FuelCapacity">Fuel Capacity</label>
                    <input asp-for="FuelCapacity" type="number" class="form-control" min="0" value="0" step="0.001" />
                    <span asp-validation-for="FuelCapacity" class="text-danger"></span>
                </div>

                <div class="form-group mt-2">
                    <div>
                        <label asp-for="OwnerId">Owner</label>
                        <select asp-for="@Model.OwnerId" class="form-control">
                            @foreach (var owner in Model.Owners)
                            {
                                <option value="@owner.Id">@owner.Name</option>
                            }
                        </select>
                        <span asp-validation-for="@Model.OwnerId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group mt-2">
                    <label asp-for="FuelCostRate">Fuel Cost Rate</label>
                    <input asp-for="FuelCostRate" type="number" class="form-control" min="0" value="0" step="0.01" />
                    <span asp-validation-for="FuelCostRate" class="text-danger"></span>
                </div>

                <div class="form-group mt-2">
                    <label asp-for="ModelImgUrl">Model Image URL</label>
                    <input asp-for="ModelImgUrl" class="form-control" />
                    <span asp-validation-for="ModelImgUrl" class="text-danger"></span>
                </div>

                <div class="form-group mt-2 justify-content-md-around text-center">
                    <button type="submit" class="btn btn-outline-warning mt-2">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
