@model ICollection<VehicleViewModelShortInfo>
@{
    ViewData["Title"] = "Vehicle List";
    string message = "No info!";
}
<style>
    .custom-table {
        border-collapse: collapse;
    }

        .custom-table th {
            border: 1px solid black;
        }

        .custom-table td {
            border: 1px solid black;
        }

</style>
<div class="container">
    <h4 class="text-center">Vehicle List</h4>

    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="table-responsive">
                <table class="table table-bordered custom-table table-hover">
                    <thead>
                        <tr class="bg-success">
                            <th class="col-2">Number</th>
                            <th class="col-3">Model</th>
                            <th class="col-3">Make</th>
                            <th class="col-1">View</th>
                            <th class="col-1">Edit</th>
                            <th class="col-2">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vehicle in Model)
                        {
                            <tr>
                                <td>@vehicle.Number</td>
                                @if (string.IsNullOrEmpty(vehicle.Model))
                                {
                                    <td>@message</td>
                                }
                                else
                                {
                                    <td>@vehicle.Model</td>
                                }
                                @if (string.IsNullOrEmpty(vehicle.Make))
                                {
                                    <td>@message</td>
                                }
                                else
                                {
                                    <td>@vehicle.Make</td>
                                }

                                <td class="text-center bg-info">
                                    <form asp-area="" asp-controller="Vehicle" asp-action="ViewVehicleInfo" method="post">
                                        <input type="hidden" name="regNumber" value="@vehicle.Number" />
                                        <button type="submit" class="btn btn-link text-dark align-content-center">View</button>
                                    </form>
                                </td>

                                <td class="text-center bg-warning">
                                    <form asp-area="" asp-controller="Vehicle" asp-action="Edit" method="post">
                                        <input type="hidden" name="regNumber" value="@vehicle.Number" />
                                        <button type="submit" class="btn btn-link text-dark align-content-center">Edit</button>
                                    </form>
                                </td>

                                <td class="text-center bg-danger">
                                    <form asp-area="" asp-controller="Vehicle" asp-action="Delete" method="post">
                                        <input type="hidden" name="Id" value="@vehicle.Number" />
                                        <button type="submit" class="btn btn-link text-dark align-content-center">Remove vehicle</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
