@model VehicleViewModelDetails
@{
    ViewData["Title"] = "Vehicle Details";
    string message = "No info";
}

<style>

    .custom-table {
        border-collapse: collapse;
        width: 50%;
        margin: 0 auto;
        border: 1px solid black;
    }

        .custom-table th,
        .custom-table td {
            border: 1px solid black;
            padding: 8px;
        }
</style>

<div class="container">

    <h4 class="text-center">Details for vehicle with registration number: @Model.RegistrationNumber</h4>

    <div class="row justify-content-center mt-2">

        @if (Model.ModelImgUrl != null)
        {
            <a class="text-center justify-content-center text-capitalize" href="@Model.ModelImgUrl" target="_blank">
                View Image
            </a>
        }
        else
        {
            <p class="text-center text-danger">No Image</p>
        }

        <div class="container-fluid text-center mt-2 mb-2">
            <form asp-area="" asp-controller="Excell" asp-action="ExportVehicle" method="get">
                <input type="hidden" name="registrationNumber" value="@Model.RegistrationNumber" />
                <button type="submit" class="btn btn-primary text-dark align-content-center">Export to Excel</button>
            </form>

        </div>

        <div class="table-responsive">
            <table class="table custom-table">
                <tbody>
                    <tr>
                        <th>
                            Registration Number:
                        </th>
                        <td>
                            @Model.RegistrationNumber
                        </td>
                    </tr>

                    <tr>
                        <th>
                            VIN:
                        </th>
                        <td>
                            @Model.VIN
                        </td>
                    </tr>

                    <tr>
                        <th>
                            Model:
                        </th>
                        @if (Model.Model == null)
                        {
                            <td class="text-danger">
                                @message
                            </td>
                        }
                        else
                        {
                            <td>
                                @Model.Model
                            </td>
                        }
                    </tr>

                    <tr>
                        <th>
                            Make:
                        </th>
                        @if (Model.Make == null)
                        {
                            <td class="text-danger">
                                @message
                            </td>
                        }
                        else
                        {
                            <td>
                                @Model.Make
                            </td>
                        }
                    </tr>

                    <tr>
                        <th>
                            Mileage:
                        </th>
                        <td>
                            @Model.Mileage
                        </td>
                    </tr>

                    <tr>
                        <th>
                            Current fuel quantity:
                        </th>
                        <td>
                            @Model.FuelQuantity
                        </td>
                    </tr>

                    <tr>
                        <th>
                            Maximum fuel capacity:
                        </th>
                        <td>
                            @Model.FuelCapacity
                        </td>
                    </tr>

                    <tr>
                        <th>
                            Name of the owner:
                        </th>
                        <td>
                            @Model.Owner
                        </td>
                    </tr>

                    <tr>
                        <th>
                            Fuel cost per 100 km or 1 hour:
                        </th>
                        <td>
                            @Model.FuelCostRate
                        </td>
                    </tr>

                    <tr>
                        <th>
                            Status:
                        </th>
                        @if (Model.IsDeleted == true)
                        {
                            <td class="text-danger">
                                Vehicle has been deleted
                            </td>
                        }
                        else
                        {
                            <td class="text-success">
                                Active
                            </td>
                        }
                    </tr>

                    <tr>
                        <th>
                            Waybills Count:
                        </th>
                        @if (Model.CountOfWaybills == 0)
                        {
                            <td class="text-danger">
                                No Waybills assigned to this vehicle
                            </td>
                        }
                        else
                        {
                            <td>
                                <form asp-area="" asp-controller="Waybill" asp-action="AllForVehicle" method="post">
                                    <input type="hidden" name="regNumber" value="@Model.RegistrationNumber" />
                                    <button type="submit" class="btn btn-link text-dark align-content-center text-decoration-none"> @Model.CountOfWaybills <strong class="text-info">View</strong></button>
                                </form>
                            </td>
                        }
                    </tr>

                    <tr>
                        <th>
                            Mileage checks:
                        </th>
                        @if (Model.CountOfMileageChecks == 0)
                        {
                            <td class="text-danger">
                                No Mileage checks assigned to this vehicle
                            </td>
                        }
                        else
                        {
                            <td>
                                <form asp-area="" asp-controller="MileageCheck" asp-action="All" method="post">
                                    <input type="hidden" name="vehicleNumber" value="@Model.RegistrationNumber" />
                                    <button type="submit" class="btn btn-link text-dark align-content-center text-decoration-none"> @Model.CountOfMileageChecks <strong class="text-info">View</strong></button>
                                </form>
                            </td>
                        }
                    </tr>

                    <tr>
                        <th>
                            Date checks:
                        </th>
                        @if (Model.CountOfDateChecks == 0)
                        {
                            <td class="text-danger">
                                No Date checks assigned to this vehicle
                            </td>
                        }
                        else
                        {
                            <td>
                                <form asp-area="" asp-controller="DateCheck" asp-action="All" method="post">
                                    <input type="hidden" name="vehicleNumber" value="@Model.RegistrationNumber" />
                                    <button type="submit" class="btn btn-link text-dark align-content-center text-decoration-none"> @Model.CountOfDateChecks <strong class="text-info">View</strong></button>
                                </form>
                            </td>
                        }
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>